<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>个推开发者中心</title>
    <link href="http://www.getui.com/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="http://www.getui.com/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- 生产 -->
      <!-- <link rel="stylesheet" type="text/css" href="/common/site_public/css/vue_project_common.css">
      <script src="/common/libs/build/vue.min.js"></script>
      <script src="/common/site_public/js/vue_project_common.js"></script> -->
    <!-- 生产 end -->

    <!-- 开发 -->
    <!-- 此处要配Nginx链接到已经启动顶部栏(jnat-dev-center-group)项目 -->
      <!-- <script src="/common/libs/dev/vue.js"></script>
      <script src="/vue_dev_site/vue_project_common.js"></script> -->
    <!-- 开发 end -->

    <!-- 开发线网资源 -->
    <link rel="stylesheet" type="text/css" href="https://dev.getui.com/common/site_public/css/vue_project_common.css">
    <script src="https://dev.getui.com/common/libs/dev/vue.js"></script>
    <script src="https://dev.getui.com/common/site_public/js/vue_project_common.js"></script>
    <!-- 开发线网资源 end -->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
